@import "tailwindcss";
@plugin "tailwindcss-motion";

body {
  @apply bg-black;
}

@theme {
  --font-bebas: "Bebas Neue", sans-serif;
  --font-raleway: "Raleway", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --secondary-color: #ffa434;
}

.secondary-color {
  color: var(--secondary-color);
}

* {
  @apply text-neutral-50 scroll-smooth;
}

a, button {
  @apply hover:text-neutral-300 duration-300 hover:duration-300 cursor-pointer;
}

h2 {
  @apply font-bebas uppercase text-3xl md:text-4xl font-extrabold tracking-widest mb-26;
}

h3 {
  @apply font-montserrat font-black uppercase text-3xl;
}

h4 {
  @apply font-montserrat text-2xl tracking-wide uppercase;
}

label {
  @apply font-montserrat tracking-widest cursor-pointer uppercase text-sm;
}

input, textarea {
  @apply font-raleway tracking-wide border-neutral-400 focus:outline-1 focus:outline-neutral-300;
}

.btn {
  @apply text-neutral-950 hover:text-neutral-950;
}

.divider-btn {
  @apply hover:text-neutral-50;
}