@import "tailwindcss";
@plugin "tailwindcss-motion";

body {
    @apply bg-black;
}

@theme {
  --font-bebas: "Bebas Neue", sans-serif;
  --font-raleway: "Raleway", sans-serif;
}

* {
    @apply text-neutral-50 scroll-smooth;
}

a, button {
    @apply hover:text-neutral-300 duration-200 hover:duration-300 cursor-pointer;
}

h2 {
    @apply font-raleway uppercase text-2xl font-extrabold tracking-widest mt-6 mb-12;
}