@import "tailwindcss";
@plugin "tailwindcss-motion";

body {
  @apply bg-black;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/subset-Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/subset-Montserrat-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/subset-Montserrat-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/subset-Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("/fonts/subset-BebasNeue-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/subset-Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/subset-Raleway-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/subset-Raleway-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-bebas: "Bebas Neue", sans-serif;
  --font-raleway: "Raleway", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --secondary-color: #ffa434;
}

.secondary-color {
  color: var(--secondary-color);
}

* {
  @apply text-neutral-50 scroll-smooth;
}

a, button {
  @apply hover:text-neutral-300 duration-300 hover:duration-300 cursor-pointer;
}

h2 {
  @apply font-bebas uppercase text-3xl md:text-4xl font-extrabold tracking-widest mb-26;
}

h3 {
  @apply font-raleway font-black uppercase text-2xl md:text-3xl tracking-wider;
}

h4 {
  @apply font-montserrat text-lg font-bold tracking-wide uppercase;
}

label {
  @apply font-montserrat tracking-widest cursor-pointer uppercase text-sm;
}

input, textarea {
  @apply font-raleway tracking-wide border-neutral-400 focus:outline-1 focus:outline-neutral-300;
}

.btn {
  @apply text-neutral-950 hover:text-neutral-950;
}

.divider-btn {
  @apply hover:text-neutral-50;
}

.errorpage-btn {
  @apply hover:text-neutral-50;
}

.errorpage-btn span {
  @apply text-blue-500/75 hover:duration-300 duration-300 hover:text-blue-500/60;
}